{% extends 'base.html' %}

{% block title %}Lista de contratos{% endblock %}

{% block content %}
<section class="p-4 flex flex-col gap-6">
    <div class="flex justify-between">
        <a href="{% url 'contrato-create' %}"
            class="p-2 rounded-md bg-blue-600 text-white uppercase text-sm font-medium hover:bg-opacity-70">
            nuevo
        </a>

        <form action="." class="flex gap-2 w-1/2">
            <input type="text"
                class="w-full px-2 ring-1 ring-neutral-300 text-sm outline-none rounded-md focus:ring-2 focus:ring-blue-500 placeholder:text-neutral-600"
                placeholder="Buscar...!">
            <button class="p-2 bg-green-600 rounded-md outline-none hover:bg-opacity-70 text-white">
                <i class="las la-search"></i>
            </button>
        </form>
    </div>

    <table class="table-auto">
        <thead>
            <tr class="text-center uppercase bg-neutral-300">
                <th>id</th>
                <th>titulo</th>
                <th>descripcion</th>
                <th>p. seguro</th>
                <th>p. dependiente</th>
                <th>inicio</th>
                <th>fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in contratos %}
            <tr class="text-center">
                <td>{{ contrato.id }}</td>
                <td>{{ contrato.titulo }}</td>
                <td>{{ contrato.descripcion }}</td>
                <td>{{ contrato.precio_seguro }}</td>
                <td>{{ contrato.precio_dependiente }}</td>
                <td>{{ contrato.fecha_inicio }}</td>
                <td>{{ contrato.fecha_fin }}</td>
                <td class="flex gap-2">
                    <a href="{% url 'contrato-update' contrato.pk %}"
                        class="mt-2 flex-1 p-1 bg-green-600 hover:bg-opacity-70 text-white rounded-md">
                        <i class="las la-pen la-lg"></i>
                    </a>
                    <a href="{% url 'contrato-delete' contrato.pk %}"
                        class="mt-2 flex-1 p-1 bg-red-600 hover:bg-opacity-70 text-white rounded-md">
                        <i class="las la-trash-alt la-lg"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}